.contacts
    padding-top: 120px
    padding-bottom: 90px
    &__wrapper
        max-width: 1040px
        margin: 0 auto
        display: grid
        grid-template-columns: 400px 585px
        column-gap: 68px
    &__subtitle
        margin-top: 8px
        margin-left: 13px
        position: relative
        @include circle
        &:before
            top: -7px
            left: -13px
    &__title
        margin-top: 6px
    .devider
        margin: 0
    &__text
        &-soc
            margin-top: 20px
    &__social
        margin-top: 20px
    &__link
        margin-right: 20px
    &__form
        display: grid
        grid-template: 280px 585px 220px / repeat(2, 280px)
        column-gap: 25px
    &__input
        width: 100%

