.price
    padding-top: 60px
    &__wrapper
        max-width: 1040px
        margin: 0 auto
    &__column
        display: grid
        grid-template: repeat(3, minmax(45px, auto)) / repeat(2, minmax(365px, auto))
        grid-auto-rows: minmax(45px, auto)
        row-gap: 15px
        justify-content: space-between
    &__item
        padding-left: 25px
        display: grid
        grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto)
        row-gap: 5px
        justify-content: space-between
        align-content: space-between
        &-descr
            font-weight: 500
            font-size: 12px
            line-height: 18px
            color: #000000
            grid-column: 1 / 3
        &-price
            justify-self: end
        &-title
            position: relative
            &:before
                content: ''
                position: absolute
                width: 15px
                height: 15px
                border-radius: 100%
                left: -25px
                top: 2px
                background: $main-color
        