.promo
    min-height: 100vh
    background: url('../img/main_bg.jpg') no-repeat 50%/cover
    padding-top: 200px
    &__title
        width: 532px
        margin-top: 9px
    &__wrapper
        margin-top: 40px